KUBE_LOGTOSTDERR="--logtostderr=true"
KUBE_LOG_LEVEL="--v=4"
NODE_ADDRESS="--address={{ ansible_enp0s8.ipv4.address }}"
NODE_PORT="--port=10250"
NODE_HOSTNAME="--hostname-override={{ ansible_enp0s8.ipv4.address }}"
KUBELET_KUBECONFIG="--kubeconfig=/etc/kubernetes/cfg/kubelet.kubeconfig"
KUBE_ALLOW_PRIV="--allow-privileged=false"
KUBELET_DNS_IP="--cluster-dns={{cluster_dns}}"
KUBELET_DNS_DOMAIN="--cluster-domain=cluster.local"
KUBELET_SWAP="--fail-swap-on=false"
KUBELET_SYSTEM_PODS_ARGS="--pod-infra-container-image={{podimage}}"
